<div class="row">
 <div class="col-md-12">
 <br>
 <h2>Students <a href="/students/add" class="btn btn-success float-right">Add New Student</a> </h2>
 <hr />
<table class ="table">
<tr>
        <th>Student Num</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Status</th>
        <th>Course ID</th>
        <th></th>
</tr> 

 {{#each students}} 
<tr>

<td>{{this.studentnum}}</a></td>

<td><a href ="/student?studentNum={{this.studentnum}}">{{this.firstName}} {{this.lastName}}</a></td>

 <td> <a href="mailto:{{this.email}}">{{this.email}}</td>

<td> {{this.this.addressStreet}}{{this.this.addressCity}}{{this.addressProvince}}</td>

<td>{{this.Status}}</td>

<td><a href="/students?course={{this.courseID}}">{{this.courseID}}</a></td>

<td><a href="/student/delete?num={{this.studentnum}}" class="btn btn-danger">Remove</a></td>

      
  </tr>

 
{{/each}}

</table>


 </div>
 {{#unless students}}
<div class="col-md-12 text-center">
 <strong>{{message}} </strong>
</div>
{{/unless}}
</div>

